In [120]:
import pandas as pd

In [102]:
df = pd.read_csv (r'voo_sneakers copy.csv')

In [103]:
print (df)

    Unnamed: 0         brand  \
0            0       Salomon
1            1  Hoka One One
2            2          Nike
3            3          Nike
4            4        Adidas
5            5          Nike
6            6   New Balance
7            7   New Balance
8            8   New Balance
9            9   New Balance
10          10   New Balance
11          11  Acne Studios
12          12  Acne Studios
13          13  Acne Studios
14          14  Acne Studios
15          15  Acne Studios
16          16          Nike
17          17          Nike
18          18   New Balance
19          19   New Balance
20          20   New Balance
21          21      Converse
22          22      Converse
23          23      Converse
24          24       Salomon
25          25          Nike
26          26          Nike
27          27          Nike
28          28   New Balance
29          29   New Balance
30          30   New Balance
31          31            On
32          32            On
33          33            On
34          34            On
35          35            On
36          36            On
37          37            On
38          38        Mizuno
39          39          Nike
40          40          Nike
41          41          Nike
42          42          Nike
43          43          Nike
44          44          Nike
45          45          Nike
46          46   New Balance
47          47          Nike

                                                model  \
0                  \nXT-6 Advanced Sneaker in White\n
1                    \nM Clifton 8 Sneaker in White\n
2       \nWMNS Air Force 1 Sculpt in White & Silver\n
3          \nWMNS Air Force 1 Sculpt in White & Red\n
4    \nx Craig Green Scuba Phormar Sneaker in Green\n
5                   \nBe-do-win SP Sneaker in Black\n
6            \n990 v4 'Made in USA' Sneaker in Grey\n
7          \nM 990 v3 'Made in USA' Sneaker in Grey\n
8     \nM 991 'Made in UK' Sneaker in Silver & Grey\n
9              \nW 991 'Made in UK' Sneaker in Grey\n
10   \nM 920 'Made in UK' Sneaker in Navy & Burgun...
11               \nN3W Trail Sneaker in Matte Black\n
12                     \nN3W Trail Sneaker in Black\n
13              \nMens Bolzter Bryz Crystal Sneaker\n
14            \nWomens Bolzter Bryz Crystal Sneaker\n
15              \nWomens N3W Trail Sneaker in White\n
16   \nx Undercover Dunk High '1985' Sneaker in Gy...
17   \nx PEACEMINUSONE Kwondo 1 Sneaker in White (...
18          \nM990 v5 'Made in USA' Sneaker in Navy\n
19         \nM990 v5 'Made in USA' Sneaker in Black\n
20          \nM990 v5 'Made in USA' Sneaker in Grey\n
21                   \nChuck 70 Hi Sneaker in Black\n
22            \nRun Star Motion Hi Sneaker in Black\n
23      \nRun Star Motion Hi Sneaker in Light Twine\n
24   \nACS PRO Advanced Sneaker in Metal & Frost G...
25                \nWMNS Lahar Low Sneaker in Black\n
26   \nx sacai x KAWS Blazer Low Sneaker in Purple...
27   \nx sacai x KAWS Blazer Low Sneaker in Neptun...
28           \n990 v3 'Made in USA' Sneaker in Navy\n
29           \n990 v3 'Made in USA' Sneaker in Grey\n
30   \n990 v2 'Made in USA' Sneaker in Grey & Green\n
31           \nMen's Cloudventure Sneaker in Cobble\n
32    \nWomen's Cloudrock Edge Raw Sneaker in White\n
33   \nMen's Cloudventure Waterproof Sneaker in Bl...
34   \nMen's Cloudventure Sneaker in Black & Reseda\n
35   \nWomen's Cloudventure Waterproof Sneaker in ...
36   \nWomen's Cloudventure Sneaker in Black & Cob...
37         \nWomen's Cloudventure Sneaker in Arctic\n
38   \nx Hajime Sorayama Wave Prophecy Sneaker in ...
39   \nx Sacai x Undercover LDWaffle Sneaker in Ni...
40   \nx Sacai x Undercover LDWaffle Sneaker in Bl...
41            \nAir Force 1 Sneaker in Summit White\n
42                \nAir Force 1 Sneaker in Off Noir\n
43          \nWMNS Air Force 1 '07 Sneaker in White\n
44                   \nAir Force 1 Sneaker in White\n
45   \nAir Force 1 '07 Craft Sneaker in Sail & Bee...
46      \nM 991 'Made in UK' Sneaker in Olive Green\n
47   \nWMNS Dunk Disrupt Low Sneaker in Summit Whi...

                                                price
0   <span class="price--default is--nowrap">\n€175...
1   <span class="price--default is--nowrap">\n€140...
2   <span class="price--default is--nowrap">\n€120...
3   <span class="price--default is--nowrap">\n€120...
4   <span class="price--default is--nowrap">\n€250...
5   <span class="price--default is--nowrap">\n€130...
6   <span class="price--default is--nowrap">\n€250...
7   <span class="price--default is--nowrap">\n€220...
8   <span class="price--default is--nowrap">\n€190...
9   <span class="price--default is--nowrap">\n€190...
10  <span class="price--default is--nowrap">\n€220...
11  <span class="price--default is--nowrap">\n€340...
12  <span class="price--default is--nowrap">\n€340...
13  <span class="price--default is--nowrap">\n€420...
14  <span class="price--default is--nowrap">\n€420...
15  <span class="price--default is--nowrap">\n€340...
16  <span class="price--default is--nowrap">\n€150...
17                                                NaN
18  <span class="price--default is--nowrap">\n€220...
19  <span class="price--default is--nowrap">\n€220...
20  <span class="price--default is--nowrap">\n€220...
21  <span class="price--default is--nowrap">\n€90....
22  <span class="price--default is--nowrap">\n€120...
23  <span class="price--default is--nowrap">\n€120...
24                                                NaN
25  <span class="price--default is--nowrap">\n€130...
26  <span class="price--default is--nowrap">\n€140...
27                                                NaN
28                                                NaN
29                                                NaN
30  <span class="price--default is--nowrap">\n€220...
31  <span class="price--default is--nowrap">\n€160...
32  <span class="price--default is--nowrap">\n€240...
33  <span class="price--default is--nowrap">\n€180...
34  <span class="price--default is--nowrap">\n€160...
35  <span class="price--default is--nowrap">\n€180...
36  <span class="price--default is--nowrap">\n€160...
37  <span class="price--default is--nowrap">\n€160...
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43  <span class="price--default is--nowrap">\n€110...
44                                                NaN
45  <span class="price--default is--nowrap">\n€120...
46                                                NaN
47                                                NaN

In [104]:
list (df.columns)

['Unnamed: 0', 'brand', 'model', 'price']

In [105]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [106]:
list (df.columns)

['brand', 'model', 'price']

In [107]:
print(df)

           brand                                              model  \
0        Salomon                 \nXT-6 Advanced Sneaker in White\n
1   Hoka One One                   \nM Clifton 8 Sneaker in White\n
2           Nike      \nWMNS Air Force 1 Sculpt in White & Silver\n
3           Nike         \nWMNS Air Force 1 Sculpt in White & Red\n
4         Adidas   \nx Craig Green Scuba Phormar Sneaker in Green\n
5           Nike                  \nBe-do-win SP Sneaker in Black\n
6    New Balance           \n990 v4 'Made in USA' Sneaker in Grey\n
7    New Balance         \nM 990 v3 'Made in USA' Sneaker in Grey\n
8    New Balance    \nM 991 'Made in UK' Sneaker in Silver & Grey\n
9    New Balance             \nW 991 'Made in UK' Sneaker in Grey\n
10   New Balance   \nM 920 'Made in UK' Sneaker in Navy & Burgun...
11  Acne Studios               \nN3W Trail Sneaker in Matte Black\n
12  Acne Studios                     \nN3W Trail Sneaker in Black\n
13  Acne Studios              \nMens Bolzter Bryz Crystal Sneaker\n
14  Acne Studios            \nWomens Bolzter Bryz Crystal Sneaker\n
15  Acne Studios              \nWomens N3W Trail Sneaker in White\n
16          Nike   \nx Undercover Dunk High '1985' Sneaker in Gy...
17          Nike   \nx PEACEMINUSONE Kwondo 1 Sneaker in White (...
18   New Balance          \nM990 v5 'Made in USA' Sneaker in Navy\n
19   New Balance         \nM990 v5 'Made in USA' Sneaker in Black\n
20   New Balance          \nM990 v5 'Made in USA' Sneaker in Grey\n
21      Converse                   \nChuck 70 Hi Sneaker in Black\n
22      Converse            \nRun Star Motion Hi Sneaker in Black\n
23      Converse      \nRun Star Motion Hi Sneaker in Light Twine\n
24       Salomon   \nACS PRO Advanced Sneaker in Metal & Frost G...
25          Nike                \nWMNS Lahar Low Sneaker in Black\n
26          Nike   \nx sacai x KAWS Blazer Low Sneaker in Purple...
27          Nike   \nx sacai x KAWS Blazer Low Sneaker in Neptun...
28   New Balance           \n990 v3 'Made in USA' Sneaker in Navy\n
29   New Balance           \n990 v3 'Made in USA' Sneaker in Grey\n
30   New Balance   \n990 v2 'Made in USA' Sneaker in Grey & Green\n
31            On           \nMen's Cloudventure Sneaker in Cobble\n
32            On    \nWomen's Cloudrock Edge Raw Sneaker in White\n
33            On   \nMen's Cloudventure Waterproof Sneaker in Bl...
34            On   \nMen's Cloudventure Sneaker in Black & Reseda\n
35            On   \nWomen's Cloudventure Waterproof Sneaker in ...
36            On   \nWomen's Cloudventure Sneaker in Black & Cob...
37            On         \nWomen's Cloudventure Sneaker in Arctic\n
38        Mizuno   \nx Hajime Sorayama Wave Prophecy Sneaker in ...
39          Nike   \nx Sacai x Undercover LDWaffle Sneaker in Ni...
40          Nike   \nx Sacai x Undercover LDWaffle Sneaker in Bl...
41          Nike            \nAir Force 1 Sneaker in Summit White\n
42          Nike                \nAir Force 1 Sneaker in Off Noir\n
43          Nike          \nWMNS Air Force 1 '07 Sneaker in White\n
44          Nike                   \nAir Force 1 Sneaker in White\n
45          Nike   \nAir Force 1 '07 Craft Sneaker in Sail & Bee...
46   New Balance      \nM 991 'Made in UK' Sneaker in Olive Green\n
47          Nike   \nWMNS Dunk Disrupt Low Sneaker in Summit Whi...

                                                price
0   <span class="price--default is--nowrap">\n€175...
1   <span class="price--default is--nowrap">\n€140...
2   <span class="price--default is--nowrap">\n€120...
3   <span class="price--default is--nowrap">\n€120...
4   <span class="price--default is--nowrap">\n€250...
5   <span class="price--default is--nowrap">\n€130...
6   <span class="price--default is--nowrap">\n€250...
7   <span class="price--default is--nowrap">\n€220...
8   <span class="price--default is--nowrap">\n€190...
9   <span class="price--default is--nowrap">\n€190...
10  <span class="price--default is--nowrap">\n€220...
11  <span class="price--default is--nowrap">\n€340...
12  <span class="price--default is--nowrap">\n€340...
13  <span class="price--default is--nowrap">\n€420...
14  <span class="price--default is--nowrap">\n€420...
15  <span class="price--default is--nowrap">\n€340...
16  <span class="price--default is--nowrap">\n€150...
17                                                NaN
18  <span class="price--default is--nowrap">\n€220...
19  <span class="price--default is--nowrap">\n€220...
20  <span class="price--default is--nowrap">\n€220...
21  <span class="price--default is--nowrap">\n€90....
22  <span class="price--default is--nowrap">\n€120...
23  <span class="price--default is--nowrap">\n€120...
24                                                NaN
25  <span class="price--default is--nowrap">\n€130...
26  <span class="price--default is--nowrap">\n€140...
27                                                NaN
28                                                NaN
29                                                NaN
30  <span class="price--default is--nowrap">\n€220...
31  <span class="price--default is--nowrap">\n€160...
32  <span class="price--default is--nowrap">\n€240...
33  <span class="price--default is--nowrap">\n€180...
34  <span class="price--default is--nowrap">\n€160...
35  <span class="price--default is--nowrap">\n€180...
36  <span class="price--default is--nowrap">\n€160...
37  <span class="price--default is--nowrap">\n€160...
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43  <span class="price--default is--nowrap">\n€110...
44                                                NaN
45  <span class="price--default is--nowrap">\n€120...
46                                                NaN
47                                                NaN

In [108]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   48 non-null     object
 1   model   48 non-null     object
 2   price   35 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB
None

In [109]:
print (df.head(8))

          brand                                              model  \
0       Salomon                 \nXT-6 Advanced Sneaker in White\n
1  Hoka One One                   \nM Clifton 8 Sneaker in White\n
2          Nike      \nWMNS Air Force 1 Sculpt in White & Silver\n
3          Nike         \nWMNS Air Force 1 Sculpt in White & Red\n
4        Adidas   \nx Craig Green Scuba Phormar Sneaker in Green\n
5          Nike                  \nBe-do-win SP Sneaker in Black\n
6   New Balance           \n990 v4 'Made in USA' Sneaker in Grey\n
7   New Balance         \nM 990 v3 'Made in USA' Sneaker in Grey\n

                                               price
0  <span class="price--default is--nowrap">\n€175...
1  <span class="price--default is--nowrap">\n€140...
2  <span class="price--default is--nowrap">\n€120...
3  <span class="price--default is--nowrap">\n€120...
4  <span class="price--default is--nowrap">\n€250...
5  <span class="price--default is--nowrap">\n€130...
6  <span class="price--default is--nowrap">\n€250...
7  <span class="price--default is--nowrap">\n€220...

In [ ]:
print (df)

           brand                                              model  \
0        Salomon                 \nXT-6 Advanced Sneaker in White\n
1   Hoka One One                   \nM Clifton 8 Sneaker in White\n
2           Nike      \nWMNS Air Force 1 Sculpt in White & Silver\n
3           Nike         \nWMNS Air Force 1 Sculpt in White & Red\n
4         Adidas   \nx Craig Green Scuba Phormar Sneaker in Green\n
5           Nike                  \nBe-do-win SP Sneaker in Black\n
6    New Balance           \n990 v4 'Made in USA' Sneaker in Grey\n
7    New Balance         \nM 990 v3 'Made in USA' Sneaker in Grey\n
8    New Balance    \nM 991 'Made in UK' Sneaker in Silver & Grey\n
9    New Balance             \nW 991 'Made in UK' Sneaker in Grey\n
10   New Balance   \nM 920 'Made in UK' Sneaker in Navy & Burgun...
11  Acne Studios               \nN3W Trail Sneaker in Matte Black\n
12  Acne Studios                     \nN3W Trail Sneaker in Black\n
13  Acne Studios              \nMens Bolzter Bryz Crystal Sneaker\n
14  Acne Studios            \nWomens Bolzter Bryz Crystal Sneaker\n
15  Acne Studios              \nWomens N3W Trail Sneaker in White\n
16          Nike   \nx Undercover Dunk High '1985' Sneaker in Gy...
17          Nike   \nx PEACEMINUSONE Kwondo 1 Sneaker in White (...
18   New Balance          \nM990 v5 'Made in USA' Sneaker in Navy\n
19   New Balance         \nM990 v5 'Made in USA' Sneaker in Black\n
20   New Balance          \nM990 v5 'Made in USA' Sneaker in Grey\n
21      Converse                   \nChuck 70 Hi Sneaker in Black\n
22      Converse            \nRun Star Motion Hi Sneaker in Black\n
23      Converse      \nRun Star Motion Hi Sneaker in Light Twine\n
24       Salomon   \nACS PRO Advanced Sneaker in Metal & Frost G...
25          Nike                \nWMNS Lahar Low Sneaker in Black\n
26          Nike   \nx sacai x KAWS Blazer Low Sneaker in Purple...
27          Nike   \nx sacai x KAWS Blazer Low Sneaker in Neptun...
28   New Balance           \n990 v3 'Made in USA' Sneaker in Navy\n
29   New Balance           \n990 v3 'Made in USA' Sneaker in Grey\n
30   New Balance   \n990 v2 'Made in USA' Sneaker in Grey & Green\n
31            On           \nMen's Cloudventure Sneaker in Cobble\n
32            On    \nWomen's Cloudrock Edge Raw Sneaker in White\n
33            On   \nMen's Cloudventure Waterproof Sneaker in Bl...
34            On   \nMen's Cloudventure Sneaker in Black & Reseda\n
35            On   \nWomen's Cloudventure Waterproof Sneaker in ...
36            On   \nWomen's Cloudventure Sneaker in Black & Cob...
37            On         \nWomen's Cloudventure Sneaker in Arctic\n
38        Mizuno   \nx Hajime Sorayama Wave Prophecy Sneaker in ...
39          Nike   \nx Sacai x Undercover LDWaffle Sneaker in Ni...
40          Nike   \nx Sacai x Undercover LDWaffle Sneaker in Bl...
41          Nike            \nAir Force 1 Sneaker in Summit White\n
42          Nike                \nAir Force 1 Sneaker in Off Noir\n
43          Nike          \nWMNS Air Force 1 '07 Sneaker in White\n
44          Nike                   \nAir Force 1 Sneaker in White\n
45          Nike   \nAir Force 1 '07 Craft Sneaker in Sail & Bee...
46   New Balance      \nM 991 'Made in UK' Sneaker in Olive Green\n
47          Nike   \nWMNS Dunk Disrupt Low Sneaker in Summit Whi...

                                                price
0   <span class="price--default is--nowrap">\n€175...
1   <span class="price--default is--nowrap">\n€140...
2   <span class="price--default is--nowrap">\n€120...
3   <span class="price--default is--nowrap">\n€120...
4   <span class="price--default is--nowrap">\n€250...
5   <span class="price--default is--nowrap">\n€130...
6   <span class="price--default is--nowrap">\n€250...
7   <span class="price--default is--nowrap">\n€220...
8   <span class="price--default is--nowrap">\n€190...
9   <span class="price--default is--nowrap">\n€190...
10  <span class="price--default is--nowrap">\n€220...
11  <span class="price--default is--nowrap">\n€340...
12  <span class="price--default is--nowrap">\n€340...
13  <span class="price--default is--nowrap">\n€420...
14  <span class="price--default is--nowrap">\n€420...
15  <span class="price--default is--nowrap">\n€340...
16  <span class="price--default is--nowrap">\n€150...
17                                                NaN
18  <span class="price--default is--nowrap">\n€220...
19  <span class="price--default is--nowrap">\n€220...
20  <span class="price--default is--nowrap">\n€220...
21  <span class="price--default is--nowrap">\n€90....
22  <span class="price--default is--nowrap">\n€120...
23  <span class="price--default is--nowrap">\n€120...
24                                                NaN
25  <span class="price--default is--nowrap">\n€130...
26  <span class="price--default is--nowrap">\n€140...
27                                                NaN
28                                                NaN
29                                                NaN
30  <span class="price--default is--nowrap">\n€220...
31  <span class="price--default is--nowrap">\n€160...
32  <span class="price--default is--nowrap">\n€240...
33  <span class="price--default is--nowrap">\n€180...
34  <span class="price--default is--nowrap">\n€160...
35  <span class="price--default is--nowrap">\n€180...
36  <span class="price--default is--nowrap">\n€160...
37  <span class="price--default is--nowrap">\n€160...
38                                                NaN
39                                                NaN
40                                                NaN
41                                                NaN
42                                                NaN
43  <span class="price--default is--nowrap">\n€110...
44                                                NaN
45  <span class="price--default is--nowrap">\n€120...
46                                                NaN
47                                                NaN

In [119]:
df['price'].to_numpy

<bound method IndexOpsMixin.to_numpy of 0     <span class="price--default is--nowrap">\n€175...
1     <span class="price--default is--nowrap">\n€140...
2     <span class="price--default is--nowrap">\n€120...
3     <span class="price--default is--nowrap">\n€120...
4     <span class="price--default is--nowrap">\n€250...
5     <span class="price--default is--nowrap">\n€130...
6     <span class="price--default is--nowrap">\n€250...
7     <span class="price--default is--nowrap">\n€220...
8     <span class="price--default is--nowrap">\n€190...
9     <span class="price--default is--nowrap">\n€190...
10    <span class="price--default is--nowrap">\n€220...
11    <span class="price--default is--nowrap">\n€340...
12    <span class="price--default is--nowrap">\n€340...
13    <span class="price--default is--nowrap">\n€420...
14    <span class="price--default is--nowrap">\n€420...
15    <span class="price--default is--nowrap">\n€340...
16    <span class="price--default is--nowrap">\n€150...
17                                                  NaN
18    <span class="price--default is--nowrap">\n€220...
19    <span class="price--default is--nowrap">\n€220...
20    <span class="price--default is--nowrap">\n€220...
21    <span class="price--default is--nowrap">\n€90....
22    <span class="price--default is--nowrap">\n€120...
23    <span class="price--default is--nowrap">\n€120...
24                                                  NaN
25    <span class="price--default is--nowrap">\n€130...
26    <span class="price--default is--nowrap">\n€140...
27                                                  NaN
28                                                  NaN
29                                                  NaN
30    <span class="price--default is--nowrap">\n€220...
31    <span class="price--default is--nowrap">\n€160...
32    <span class="price--default is--nowrap">\n€240...
33    <span class="price--default is--nowrap">\n€180...
34    <span class="price--default is--nowrap">\n€160...
35    <span class="price--default is--nowrap">\n€180...
36    <span class="price--default is--nowrap">\n€160...
37    <span class="price--default is--nowrap">\n€160...
38                                                  NaN
39                                                  NaN
40                                                  NaN
41                                                  NaN
42                                                  NaN
43    <span class="price--default is--nowrap">\n€110...
44                                                  NaN
45    <span class="price--default is--nowrap">\n€120...
46                                                  NaN
47                                                  NaN
Name: price, dtype: object>

In [ ]:
# price column
# numpy, slice